<%- include('header') -%>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form>
          <div class="mb-3">
            <label for="Nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="Nickname">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-2">
            <a href="/" class="btn btn-primary">Set new password</a>
            <a href="/" class="btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
    <%- include('footer') -%>