<%- include('header') -%>
  <div class="container">
    <div style="text-align: center">
      <h2 class="p-3">New song to playlist</h2>
    </div>
    <div class="col">
      <form>
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Artist</label>
          <input type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Duration(min)</label>
          <input type="text" class="form-control">
        </div>
        <div class="mb-2">
          <a href="/myplaylist/:playlist" class="btn btn-primary">Add song to playlist</a>
          <a href="/myplaylist/:playlist" class="btn btn-primary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <%- include('footer') -%>